<div class="docs-galley mb-3" style="width: 800px; height: 600px;">
    <div id="galley" #galley style="visibility: hidden">
      <ul class="pictures">
        <li><img data-original="../assets/images/tibet-1.jpg" src="../assets/images/thumbnails/tibet-1.jpg" alt="Cuo Na Lake"></li>
        <li><img data-original="../assets/images/tibet-2.jpg" src="../assets/images/thumbnails/tibet-2.jpg" alt="Tibetan Plateau"></li>
        <li><img data-original="../assets/images/tibet-3.jpg" src="../assets/images/thumbnails/tibet-3.jpg" alt="Jokhang Temple"></li>
      </ul>
    </div>
</div>